.main-box {
  padding-top: 75px;
}

.main-box-title {
  @include font-style(400, 80px, 90px);
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
  margin: 0;
  margin-bottom: 25px;
}


.main-box-line {
  margin: 0;
  background: #710707;
  height: 3px;
}

.main-list {
  @include list-none;
  display: flex;
  flex-wrap: wrap;
}

.main-list :nth-child( 1 ) {
  margin-left: 0;
}

.main-list :nth-child( 4 ) {
  margin-left: 0;
}

.main-item {
  margin-top: 75px;
  margin-left: 60px;
}

.main-item-img {
  width: 440px;
  height: 285px;
  margin-bottom: 25px;
}

.main-item-title {
  @include font-style(400, 32px, 35px);
  margin: 0;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main-item-line {
  width: 300px;
  height: 2px;
  background: #710707;
  border: none;
  margin: 0;
  margin-bottom: 10px;
}

.main-item-text {
  @include font-style(100, 22px, 26px);
  margin: 0;
  margin-bottom: 10px;
}

.item-text {
  @include font-style(100, 22px, 26px);
  margin: 0;
}


@media only screen and (max-width: 1470px) {
  
  .main-list {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .main-list :nth-child( 1 ) {
    margin-left: 0px;
  }

  .main-item {
    margin-top: 60px;
    margin-left: 0px;
  }



}

@media only screen and (max-width: 575px) {

  .main-box-title {
    @include font-style(400, 40px, 60px);
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9d8665;
    margin: 0;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 470px) {
  
  .main-list {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .main-list :nth-child( 1 ) {
    margin-left: 0px;
  }

  .main-box-title {
    @include font-style(400, 28px, 40px);
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9d8665;
    margin: 0;
    margin-bottom: 25px;
  }

  .main-item {
    margin-top: 60px;
    margin-left: 0px;
  }

  .main-item-title {
    @include font-style(400, 18px, 20px);
    margin: 0;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .main-item-img {
    width: 280px;
    height: 180px;
    margin-bottom: 25px;
  }
  
  .main-item-line {
    width: 150px;
    height: 2px;
    background: #710707;
    border: none;
    margin: 0;
    margin-bottom: 10px;
  }

  .item-text {
    @include font-style(100, 16px, 19px);
    width: 240px;
    margin: 0;
  }
}